version: 2
machine:
  services:
    - docker

jobs:
  build:
    docker:
      - image: node:8.11.0@sha256:d4f30a5e6229ecea698f1d0499576b1df170e949fb8fd98631296cd260598a47
      - image: mongo:3.7.3@sha256:17513a301508b304372175a4e5d1ad00aa800383b74d1e89e1e23abc630cf1e7
      - image: redis:3.2.11@sha256:31b40d584cdcb7bcca9d8980c5e3a091c1bc51f5c7862f01e4aa0f12d41968dd
    environment:
      - DOCKER_REPO_SLUG: learninglocker/xapi-statements
      - DOCKER_EMAIL: 0ryansmith1994@gmail.com
      - DOCKER_USERNAME: ryansmith94
      - NPM_CONFIG_LOGLEVEL: warn
      - WINSTON_CONSOLE_LEVEL: none
      - EXPRESS_PORT: 1337
    working_directory: ~/repo
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Installing Dependencies
          command: npm install
      - run:
          name: Pruning Dependencies
          command: npm prune
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package-lock.json" }}
      - run:
          name: Compiling Code
          command: npm run build
      - run:
          name: Running tests
          command: npm run cover-ci
      - run:
          name: Linting Code
          command: npm run lint -- -c tslint.ci.json
      - run:
          name: Checking Code Duplication
          command: npm run duplication -- --limit 5
      - run:
          name: Docker Install
          command: |
            set -x
            DOCKER_VERSION="17.03.0-ce"
            curl -L -o /tmp/docker-$DOCKER_VERSION.tgz https://get.docker.com/builds/Linux/x86_64/docker-$DOCKER_VERSION.tgz
            tar -xz -C /tmp -f /tmp/docker-$DOCKER_VERSION.tgz
            mv /tmp/docker/* /usr/bin
      - run:
          name: Docker Build
          command: docker build -t "$DOCKER_REPO_SLUG" .
      - deploy:
          name: Semantic Release
          command: npm run semantic-release
